.bulb {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 10px;
    display: inline-block;
    z-index: 1;
    position: relative;
}

.bg-blue {
    background-color: blue;
}