.bulb {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 10px;
    z-index: 1;
    position: relative;
}

.bg-aqua {
    background-color: aqua;
}

.bg-blue {
    background-color: blue;
}

.bg-green {
    background-color: green;
}

.bg-salmon {
    background-color: salmon;
}

.bg-seagreen {
    background-color: seagreen;
}

.bg-yellow {
    background-color: yellow;
}